


.logo{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px 50px;
    
    font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
height: 25px;
width: 24px;

}
.Logo{
    
    margin-top: 30px;
    margin-left: 30px;
    width: 22px;
    height: 22px;
    
}
.titel {
    text-align: center;
    margin-top: 30px;
    
    
    
     
}
.titel h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}
.titel p {
    font-size: 18px;
    color: rgb(71, 71, 71);
    font-weight: normal;
    
    
}
.titel p a {
    text-decoration:none;
    border-bottom: 1px solid black;
    color: rgb(116, 114, 114);
}
.username{
    
   
    margin: 10px 0px;
    width: 400px;
   border-right: 1px solid black;
    
}
.row-1 {
    margin-top: 30px;
    margin-left: 100px;
}
.row-1 p {
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.service p {
    color: rgb(122, 122, 122);
font-size: 14px;
    font-weight: normal;
    
}
.service p a {
    text-decoration: none;
    color: rgb(122, 122, 122);
    border-bottom: 1px solid rgb(122, 122, 122);
}
.button {
    margin-top: 30px;
}
.button button {
    width: 400px;
    padding: 9px 0;
    
    background-color: rgb(35, 112, 255);
    color: white;
    border: none;
    
}

.button :hover {
    background-color: rgb(56, 56, 236);
}
.row-2 {
    margin: 15px 50px;
    
}
.or {
    margin-left: -8px;
    
}
.line{
  border-left: 1px solid rgb(230, 230, 230); 
  
  height: 200px;
 
 
}

.google {
    margin-top: -330px;
    margin-left: 50px;
    display: flex;
   
}
.appl {
    margin-left: 50px;
    margin-top: 30px;
}
.circle {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50% 50%;
    padding: 6px 12px;
    color: black;
    text-decoration: none;
    box-shadow: 1px 1px  rgb(221, 219, 219);
    font-size: 25px;
    
    
    
}
 
.circle-appl {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50% 50%;
    padding: 13px 13px;
    color: black;
    

    box-shadow: 1px 1px  rgb(221, 219, 219);
}
.text-google {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(99, 99, 99);
    font-size: 15px;
    
    
}
.text-Appl {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(99, 99, 99);
    font-size: 15px;
    margin-top: 10px;
}
.text-google :hover {
color: rgb(99, 99, 99);
}
.text-last {
    margin-left: 50px;
    margin-top: 50px;
}
.text-last .paragraph{
    font-size: 13px;
    font-weight:normal;
    color: rgb(145, 143, 143);
    width: 400px;
    
    
}
.text-last .paragraph .last-link {
    text-decoration: none;
    color: rgb(145, 143, 143) ;
    border-bottom: 1px solid rgb(110, 110, 110);
}

/* for <1200 */
@media only screen and (max-width: 1200px) {

.row-1 {
    margin-left: 0px;
}
.username{
    
   
    margin: 10px 0px;
    width: 350px;
   border-right: 1px solid black;
    
}
.button button {
    width: 350px;
    padding: 9px 0;
    border-radius: 10px;
    background-color: rgb(35, 112, 255);
    color: white;
    border: none;
    
}


}

@media only screen and (max-width: 1400px) {
.row-1 {
    margin-left: 0px;
}

}
@media only screen and (max-width: 800px) {
  
    .titel h1 {
        font-size: 45px;
    }
    .titel p {
        font-size: 18px;
    }
    .line{
        border-top: 1px solid rgb(230, 230, 230); 
        
        width: 300px;
        height: 0px;
      
        
      }
      .appl {
          width: 500px;
      }
      .line-fil {
        display: flex;
        margin-left: -0px;
        width: 600px;
       
    }
    .google {
        margin-top: 50px;
        width: 500px;
    }
    .or {
        margin-left: 0px;
        margin-top: -9px;
    }
    .other {
        margin-left: 120px;
    }
    .row-1 {
        margin:30px auto;
    }
    .text-last .paragraph {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
   
    .row-1 {
        margin-left: -10px;
    }
    
    .username {
        width: 300px;
    }
    .button button {
        width: 300px;
    }
    .line{
        border-top: 1px solid rgb(230, 230, 230); 
        
        width: 230px;
        height: 0px;
        
      }
      .line-fil {
        display: flex;
        margin-left: -50px;
    }
    .google {
        margin-top: 0px;
    }
    .or {
        margin-left: 0px;
        margin-top: -9px;
    }
    .other {
        margin-left: -120px;
    }
    .text-last .paragraph {
    margin-left: -120px;
      font-size: 13px;
    height: 10px;
    width: 100%;
    
    }
    .text-last {
        width: 100%;
    }
    .titel p {
        margin-left: 30px;
    }
}
    
    @media only screen and (max-width: 500px) {

       
        .row-1 {
            margin-left: 0px;
        }
       
        .username {
            width: 350px;
        }
        .button button {
            width: 350px;
        }
        .service p {
            width: 370px;
        }
        .line{
            border-top: 1px solid rgb(230, 230, 230); 
            
            width: 230px;
            height: 0px;
            
          }
          .line-fil {
            display: flex;
            margin-left: -50px;
        }
        .google {
            margin-top: 0px;
        }
        .or {
            margin-left: 0px;
            margin-top: -9px;
        }
        .other {
            margin-left: -100px;
        }
        .text-last .paragraph {
        margin-right: 0px;
          font-size: 12px;
        height: 10px;
        width: 400px;
        margin-bottom: 100px;
        padding-left: 8px;
        
        
        }
        
        .titel p a {
            text-decoration:none;
            border-bottom: 1px solid black;
            color: rgb(116, 114, 114);
        }
        .titel h1 {
            font-size: 36px;
           margin-left: 50px;
        }
        .titel p {
            width: 350px;
            margin-top: 20px;
            font-size: 17px;
            margin-left: 30px;
            
        }
       
    }

    @media only screen and (max-width: 400px) {
        .text-last .paragraph {
            width: 300px;
            text-align: start;
        }
        .titel p {
           max-width: 300px;
            margin-left: 50px;

        }
        .service p {
            width: 300px;
        }
        .username {
            width: 330px;
        }
        .button button {
            width: 330px;
        }
        

    }
   

    @media only screen and (max-width: 370px) {
     .username {
         width:100%;
         
     }
     .button button {
         width: 100%;
     }
     .titel p {
         margin-left: 20px;

        
     }
    }
    @media only screen and (max-width: 370px) {
        .titel p {
            width: 200px;
            margin: 20px auto;
        }
        .service p {
            width: 270px;
        }
        .line {
            width: 140px;
        }
        .or {
            margin-left: -10px;
        }
        .text-last .paragraph {
            width: 280px;
        }
    }

    @media only screen and (max-width: 370px) {
        .titel p {
            width: 150px;
        }
        .service p {
            width: 200px;
        }
        .text-last .paragraph {
            width: 220px;
        }
    }